.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.video-layer {
  width: 100%;
  height: 100%;
  top: 20px;
  left: 0;
  overflow: hidden;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  width: 87%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding-inline: 50px;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  border-bottom: 1px solid white;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.main {
  margin-top: 5%;
  width: 87%;
  height: 87%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-section {
  position: absolute;
  left: 60%;
  display: flex;
  flex-direction: column;
  background-color: inherit;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: white;
  max-width: 400px;
  width: 100%;
  transition: transform 1s ease;
  z-index: 2;
}
/* .input-section:hover{
  transform: scale(1.1);
} */
.input-field {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.option {
  margin-bottom: 10px;
}

.option input {
  margin-right: 10px;
}

.submit-button {
  background-color: #060606;
  color: white;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #21a1f1;
}
